<div>
    <h2>
        <span>Sub Rutinas</span>
        <button class="btn btn-primary float-right jh-create-entity create-sub-rutina" [routerLink]="['/', { outlets: { popup: ['sub-rutina-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Sub Rutina
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="subRutinas">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nombreSubRutina"><span>Nombre Sub Rutina</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="cantSeries"><span>Cant Series</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="cantRepeticiones"><span>Cant Repeticiones</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="comentarioSubRutina"><span>Comentario Sub Rutina</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="estadoSubrutina"><span>Estado Subrutina</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="rutinaId"><span>Rutina</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let subRutina of subRutinas ;trackBy: trackId">
                <td><a [routerLink]="['../sub-rutina', subRutina.id ]">{{subRutina.id}}</a></td>
                <td>{{subRutina.nombreSubRutina}}</td>
                <td>{{subRutina.cantSeries}}</td>
                <td>{{subRutina.cantRepeticiones}}</td>
                <td>{{subRutina.comentarioSubRutina}}</td>
                <td>{{subRutina.estadoSubrutina}}</td>
                <td>
                    <div *ngIf="subRutina.rutinaId">
                        <a [routerLink]="['../rutina', subRutina.rutinaId  ]" >{{subRutina.rutinaId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../sub-rutina', subRutina.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'sub-rutina/'+ subRutina.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'sub-rutina/'+ subRutina.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="subRutinas && subRutinas.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
