
<div *ngIf="subRutina">
    <h2><span>Sub Rutina</span> {{subRutina.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Nombre Sub Rutina</span></dt>
        <dd>
            <span>{{subRutina.nombreSubRutina}}</span>
        </dd>
        <dt><span>Cant Series</span></dt>
        <dd>
            <span>{{subRutina.cantSeries}}</span>
        </dd>
        <dt><span>Cant Repeticiones</span></dt>
        <dd>
            <span>{{subRutina.cantRepeticiones}}</span>
        </dd>
        <dt><span>Comentario Sub Rutina</span></dt>
        <dd>
            <span>{{subRutina.comentarioSubRutina}}</span>
        </dd>
        <dt><span>Estado Subrutina</span></dt>
        <dd>
            <span>{{subRutina.estadoSubrutina}}</span>
        </dd>
        <dt><span>Rutina</span></dt>
        <dd>
            <div *ngIf="subRutina.rutinaId">
                <a [routerLink]="['/rutina', subRutina.rutinaId]">{{subRutina.rutinaId}}</a>
            </div>
        </dd>
        <dt><span>Subrutina Ejercicios</span></dt>
        <dd>
            <span *ngFor="let subrutinaEjercicios of subRutina.subrutinaEjercicios; let last = last">
                <a [routerLink]="['/ejercicio', subrutinaEjercicios?.id ]">{{subrutinaEjercicios.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'sub-rutina/'+ subRutina.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
