<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mySubRutinaLabel">Create or edit a Sub Rutina</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!subRutina.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="subRutina.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_nombreSubRutina">Nombre Sub Rutina</label>
            <input type="text" class="form-control" name="nombreSubRutina" id="field_nombreSubRutina"
                [(ngModel)]="subRutina.nombreSubRutina" required maxlength="999"/>
            <div [hidden]="!(editForm.controls.nombreSubRutina?.dirty && editForm.controls.nombreSubRutina?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nombreSubRutina?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nombreSubRutina?.errors?.maxlength">
                   This field cannot be longer than 999 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_cantSeries">Cant Series</label>
            <input type="number" class="form-control" name="cantSeries" id="field_cantSeries"
                [(ngModel)]="subRutina.cantSeries" min="1" max="500"/>
            <div [hidden]="!(editForm.controls.cantSeries?.dirty && editForm.controls.cantSeries?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.cantSeries?.errors?.min">
                    This field should be at least 1.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.cantSeries?.errors?.max">
                    This field cannot be more than 500.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.cantSeries?.errors?.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_cantRepeticiones">Cant Repeticiones</label>
            <input type="number" class="form-control" name="cantRepeticiones" id="field_cantRepeticiones"
                [(ngModel)]="subRutina.cantRepeticiones" min="1" max="500"/>
            <div [hidden]="!(editForm.controls.cantRepeticiones?.dirty && editForm.controls.cantRepeticiones?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.cantRepeticiones?.errors?.min">
                    This field should be at least 1.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.cantRepeticiones?.errors?.max">
                    This field cannot be more than 500.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.cantRepeticiones?.errors?.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_comentarioSubRutina">Comentario Sub Rutina</label>
            <input type="text" class="form-control" name="comentarioSubRutina" id="field_comentarioSubRutina"
                [(ngModel)]="subRutina.comentarioSubRutina" maxlength="999"/>
            <div [hidden]="!(editForm.controls.comentarioSubRutina?.dirty && editForm.controls.comentarioSubRutina?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.comentarioSubRutina?.errors?.maxlength">
                   This field cannot be longer than 999 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_estadoSubrutina">Estado Subrutina</label>
            <input type="checkbox" class="form-control" name="estadoSubrutina" id="field_estadoSubrutina"
                [(ngModel)]="subRutina.estadoSubrutina" />
            <div [hidden]="!(editForm.controls.estadoSubrutina?.dirty && editForm.controls.estadoSubrutina?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.estadoSubrutina?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_rutina">Rutina</label>
            <select class="form-control" id="field_rutina" name="rutina" [(ngModel)]="subRutina.rutinaId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="rutinaOption.id" *ngFor="let rutinaOption of rutinas; trackBy: trackRutinaById">{{rutinaOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_subrutinaEjercicios">Subrutina Ejercicios</label>
            <select class="form-control" id="field_subrutinaEjercicios" multiple name="subrutinaEjercicios" [(ngModel)]="subRutina.subrutinaEjercicios">
                <option [ngValue]="getSelected(subRutina.subrutinaEjercicios, ejercicioOption)" *ngFor="let ejercicioOption of ejercicios; trackBy: trackEjercicioById">{{ejercicioOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
