<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myRegistroActividadRutinaLabel">Create or edit a Registro Actividad Rutina</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!registroActividadRutina.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="registroActividadRutina.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_fechaAsistencia">Fecha Asistencia</label>
            <div class="d-flex">
                <input id="field_fechaAsistencia" type="datetime-local" class="form-control" name="fechaAsistencia" [(ngModel)]="registroActividadRutina.fechaAsistencia"
                required/>
            </div>
            <div [hidden]="!(editForm.controls.fechaAsistencia?.dirty && editForm.controls.fechaAsistencia?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.fechaAsistencia?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.fechaAsistencia?.errors?.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_diaAsistencia">Dia Asistencia</label>
            <input type="number" class="form-control" name="diaAsistencia" id="field_diaAsistencia"
                [(ngModel)]="registroActividadRutina.diaAsistencia" required/>
            <div [hidden]="!(editForm.controls.diaAsistencia?.dirty && editForm.controls.diaAsistencia?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.diaAsistencia?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.diaAsistencia?.errors?.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_estadoRegistroActividad">Estado Registro Actividad</label>
            <input type="checkbox" class="form-control" name="estadoRegistroActividad" id="field_estadoRegistroActividad"
                [(ngModel)]="registroActividadRutina.estadoRegistroActividad" />
            <div [hidden]="!(editForm.controls.estadoRegistroActividad?.dirty && editForm.controls.estadoRegistroActividad?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.estadoRegistroActividad?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_usuario">Usuario</label>
            <select class="form-control" id="field_usuario" name="usuario" [(ngModel)]="registroActividadRutina.usuarioId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="usuarioOption.id" *ngFor="let usuarioOption of usuarios; trackBy: trackUsuarioById">{{usuarioOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_subRutina">Sub Rutina</label>
            <select class="form-control" id="field_subRutina" name="subRutina" [(ngModel)]="registroActividadRutina.subRutinaId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="subRutinaOption.id" *ngFor="let subRutinaOption of subrutinas; trackBy: trackSubRutinaById">{{subRutinaOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
