
<div *ngIf="registroActividadRutina">
    <h2><span>Registro Actividad Rutina</span> {{registroActividadRutina.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Fecha Asistencia</span></dt>
        <dd>
            <span>{{registroActividadRutina.fechaAsistencia | date:'medium'}}</span>
        </dd>
        <dt><span>Dia Asistencia</span></dt>
        <dd>
            <span>{{registroActividadRutina.diaAsistencia}}</span>
        </dd>
        <dt><span>Estado Registro Actividad</span></dt>
        <dd>
            <span>{{registroActividadRutina.estadoRegistroActividad}}</span>
        </dd>
        <dt><span>Usuario</span></dt>
        <dd>
            <div *ngIf="registroActividadRutina.usuarioId">
                <a [routerLink]="['/usuario', registroActividadRutina.usuarioId]">{{registroActividadRutina.usuarioId}}</a>
            </div>
        </dd>
        <dt><span>Sub Rutina</span></dt>
        <dd>
            <div *ngIf="registroActividadRutina.subRutinaId">
                <a [routerLink]="['/sub-rutina', registroActividadRutina.subRutinaId]">{{registroActividadRutina.subRutinaId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'registro-actividad-rutina/'+ registroActividadRutina.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
