<div>
    <h2>
        <span>Registro Actividad Rutinas</span>
        <button class="btn btn-primary float-right jh-create-entity create-registro-actividad-rutina" [routerLink]="['/', { outlets: { popup: ['registro-actividad-rutina-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Registro Actividad Rutina
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="registroActividadRutinas">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="fechaAsistencia"><span>Fecha Asistencia</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="diaAsistencia"><span>Dia Asistencia</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="estadoRegistroActividad"><span>Estado Registro Actividad</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="usuarioId"><span>Usuario</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="subRutinaId"><span>Sub Rutina</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let registroActividadRutina of registroActividadRutinas ;trackBy: trackId">
                <td><a [routerLink]="['../registro-actividad-rutina', registroActividadRutina.id ]">{{registroActividadRutina.id}}</a></td>
                <td>{{registroActividadRutina.fechaAsistencia | date:'medium'}}</td>
                <td>{{registroActividadRutina.diaAsistencia}}</td>
                <td>{{registroActividadRutina.estadoRegistroActividad}}</td>
                <td>
                    <div *ngIf="registroActividadRutina.usuarioId">
                        <a [routerLink]="['../usuario', registroActividadRutina.usuarioId  ]" >{{registroActividadRutina.usuarioId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="registroActividadRutina.subRutinaId">
                        <a [routerLink]="['../sub-rutina', registroActividadRutina.subRutinaId  ]" >{{registroActividadRutina.subRutinaId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../registro-actividad-rutina', registroActividadRutina.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'registro-actividad-rutina/'+ registroActividadRutina.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'registro-actividad-rutina/'+ registroActividadRutina.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="registroActividadRutinas && registroActividadRutinas.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
