<div>
    <h2>
        <span>Musculos</span>
        <button class="btn btn-primary float-right jh-create-entity create-musculo" [routerLink]="['/', { outlets: { popup: ['musculo-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Musculo
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="musculos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nombreMusculo"><span>Nombre Musculo</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="estadoMusculo"><span>Estado Musculo</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="zonaMusculoId"><span>Zona Musculo</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let musculo of musculos ;trackBy: trackId">
                <td><a [routerLink]="['../musculo', musculo.id ]">{{musculo.id}}</a></td>
                <td>{{musculo.nombreMusculo}}</td>
                <td>{{musculo.estadoMusculo}}</td>
                <td>
                    <div *ngIf="musculo.zonaMusculoId">
                        <a [routerLink]="['../parametro-configuracion', musculo.zonaMusculoId  ]" >{{musculo.zonaMusculoId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../musculo', musculo.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'musculo/'+ musculo.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'musculo/'+ musculo.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="musculos && musculos.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
