<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myMusculoLabel">Create or edit a Musculo</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!musculo.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="musculo.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_nombreMusculo">Nombre Musculo</label>
            <input type="text" class="form-control" name="nombreMusculo" id="field_nombreMusculo"
                [(ngModel)]="musculo.nombreMusculo" required maxlength="999"/>
            <div [hidden]="!(editForm.controls.nombreMusculo?.dirty && editForm.controls.nombreMusculo?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nombreMusculo?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nombreMusculo?.errors?.maxlength">
                   This field cannot be longer than 999 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_estadoMusculo">Estado Musculo</label>
            <input type="checkbox" class="form-control" name="estadoMusculo" id="field_estadoMusculo"
                [(ngModel)]="musculo.estadoMusculo" />
            <div [hidden]="!(editForm.controls.estadoMusculo?.dirty && editForm.controls.estadoMusculo?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.estadoMusculo?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_zonaMusculo">Zona Musculo</label>
            <select class="form-control" id="field_zonaMusculo" name="zonaMusculo" [(ngModel)]="musculo.zonaMusculoId">
                <option [ngValue]="null"></option>
                <option [ngValue]="parametroConfiguracionOption.id" *ngFor="let parametroConfiguracionOption of zonamusculos; trackBy: trackParametroConfiguracionById">{{parametroConfiguracionOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
