
<div *ngIf="musculo">
    <h2><span>Musculo</span> {{musculo.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Nombre Musculo</span></dt>
        <dd>
            <span>{{musculo.nombreMusculo}}</span>
        </dd>
        <dt><span>Estado Musculo</span></dt>
        <dd>
            <span>{{musculo.estadoMusculo}}</span>
        </dd>
        <dt><span>Zona Musculo</span></dt>
        <dd>
            <div *ngIf="musculo.zonaMusculoId">
                <a [routerLink]="['/parametro-configuracion', musculo.zonaMusculoId]">{{musculo.zonaMusculoId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'musculo/'+ musculo.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
