
<div *ngIf="evento">
    <h2><span>Evento</span> {{evento.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Nombre Evento</span></dt>
        <dd>
            <span>{{evento.nombreEvento}}</span>
        </dd>
        <dt><span>Descripcion Evento</span></dt>
        <dd>
            <span>{{evento.descripcionEvento}}</span>
        </dd>
        <dt><span>Fecha Inicio</span></dt>
        <dd>
            <span>{{evento.fechaInicio | date:'medium'}}</span>
        </dd>
        <dt><span>Fecha Fin</span></dt>
        <dd>
            <span>{{evento.fechaFin | date:'medium'}}</span>
        </dd>
        <dt><span>Hora Inicio Evento</span></dt>
        <dd>
            <span>{{evento.horaInicioEvento | date:'medium'}}</span>
        </dd>
        <dt><span>Hora Fin Evento</span></dt>
        <dd>
            <span>{{evento.horaFinEvento | date:'medium'}}</span>
        </dd>
        <dt><span>Estado Evento</span></dt>
        <dd>
            <span>{{evento.estadoEvento}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'evento/'+ evento.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
