<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myEventoLabel">Create or edit a Evento</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!evento.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="evento.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_nombreEvento">Nombre Evento</label>
            <input type="text" class="form-control" name="nombreEvento" id="field_nombreEvento"
                [(ngModel)]="evento.nombreEvento" required maxlength="999"/>
            <div [hidden]="!(editForm.controls.nombreEvento?.dirty && editForm.controls.nombreEvento?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nombreEvento?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nombreEvento?.errors?.maxlength">
                   This field cannot be longer than 999 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_descripcionEvento">Descripcion Evento</label>
            <input type="text" class="form-control" name="descripcionEvento" id="field_descripcionEvento"
                [(ngModel)]="evento.descripcionEvento" required maxlength="999"/>
            <div [hidden]="!(editForm.controls.descripcionEvento?.dirty && editForm.controls.descripcionEvento?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.descripcionEvento?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.descripcionEvento?.errors?.maxlength">
                   This field cannot be longer than 999 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_fechaInicio">Fecha Inicio</label>
            <div class="d-flex">
                <input id="field_fechaInicio" type="datetime-local" class="form-control" name="fechaInicio" [(ngModel)]="evento.fechaInicio"
                required/>
            </div>
            <div [hidden]="!(editForm.controls.fechaInicio?.dirty && editForm.controls.fechaInicio?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.fechaInicio?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.fechaInicio?.errors?.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_fechaFin">Fecha Fin</label>
            <div class="d-flex">
                <input id="field_fechaFin" type="datetime-local" class="form-control" name="fechaFin" [(ngModel)]="evento.fechaFin"
                required/>
            </div>
            <div [hidden]="!(editForm.controls.fechaFin?.dirty && editForm.controls.fechaFin?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.fechaFin?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.fechaFin?.errors?.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_horaInicioEvento">Hora Inicio Evento</label>
            <div class="d-flex">
                <input id="field_horaInicioEvento" type="datetime-local" class="form-control" name="horaInicioEvento" [(ngModel)]="evento.horaInicioEvento"
                required/>
            </div>
            <div [hidden]="!(editForm.controls.horaInicioEvento?.dirty && editForm.controls.horaInicioEvento?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.horaInicioEvento?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.horaInicioEvento?.errors?.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_horaFinEvento">Hora Fin Evento</label>
            <div class="d-flex">
                <input id="field_horaFinEvento" type="datetime-local" class="form-control" name="horaFinEvento" [(ngModel)]="evento.horaFinEvento"
                required/>
            </div>
            <div [hidden]="!(editForm.controls.horaFinEvento?.dirty && editForm.controls.horaFinEvento?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.horaFinEvento?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.horaFinEvento?.errors?.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_estadoEvento">Estado Evento</label>
            <input type="checkbox" class="form-control" name="estadoEvento" id="field_estadoEvento"
                [(ngModel)]="evento.estadoEvento" />
            <div [hidden]="!(editForm.controls.estadoEvento?.dirty && editForm.controls.estadoEvento?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.estadoEvento?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
