<div>
    <h2>
        <span>Eventos</span>
        <button class="btn btn-primary float-right jh-create-entity create-evento" [routerLink]="['/', { outlets: { popup: ['evento-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Evento
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="eventos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nombreEvento"><span>Nombre Evento</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="descripcionEvento"><span>Descripcion Evento</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="fechaInicio"><span>Fecha Inicio</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="fechaFin"><span>Fecha Fin</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="horaInicioEvento"><span>Hora Inicio Evento</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="horaFinEvento"><span>Hora Fin Evento</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="estadoEvento"><span>Estado Evento</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let evento of eventos ;trackBy: trackId">
                <td><a [routerLink]="['../evento', evento.id ]">{{evento.id}}</a></td>
                <td>{{evento.nombreEvento}}</td>
                <td>{{evento.descripcionEvento}}</td>
                <td>{{evento.fechaInicio | date:'medium'}}</td>
                <td>{{evento.fechaFin | date:'medium'}}</td>
                <td>{{evento.horaInicioEvento | date:'medium'}}</td>
                <td>{{evento.horaFinEvento | date:'medium'}}</td>
                <td>{{evento.estadoEvento}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../evento', evento.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'evento/'+ evento.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'evento/'+ evento.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="eventos && eventos.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
