<div>
    <h2>
        <span>Rutinas</span>
        <button class="btn btn-primary float-right jh-create-entity create-rutina" [routerLink]="['/', { outlets: { popup: ['rutina-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Rutina
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="rutinas">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="usuarioCreadorRutina"><span>Usuario Creador Rutina</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nombreRutina"><span>Nombre Rutina</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="cantDiasRutina"><span>Cant Dias Rutina</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="estadoRutina"><span>Estado Rutina</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let rutina of rutinas ;trackBy: trackId">
                <td><a [routerLink]="['../rutina', rutina.id ]">{{rutina.id}}</a></td>
                <td>{{rutina.usuarioCreadorRutina}}</td>
                <td>{{rutina.nombreRutina}}</td>
                <td>{{rutina.cantDiasRutina}}</td>
                <td>{{rutina.estadoRutina}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../rutina', rutina.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'rutina/'+ rutina.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'rutina/'+ rutina.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="rutinas && rutinas.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
