
<div *ngIf="rutina">
    <h2><span>Rutina</span> {{rutina.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Usuario Creador Rutina</span></dt>
        <dd>
            <span>{{rutina.usuarioCreadorRutina}}</span>
        </dd>
        <dt><span>Nombre Rutina</span></dt>
        <dd>
            <span>{{rutina.nombreRutina}}</span>
        </dd>
        <dt><span>Cant Dias Rutina</span></dt>
        <dd>
            <span>{{rutina.cantDiasRutina}}</span>
        </dd>
        <dt><span>Estado Rutina</span></dt>
        <dd>
            <span>{{rutina.estadoRutina}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'rutina/'+ rutina.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
