<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myRutinaLabel">Create or edit a Rutina</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!rutina.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="rutina.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_usuarioCreadorRutina">Usuario Creador Rutina</label>
            <input type="number" class="form-control" name="usuarioCreadorRutina" id="field_usuarioCreadorRutina"
                [(ngModel)]="rutina.usuarioCreadorRutina" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_nombreRutina">Nombre Rutina</label>
            <input type="text" class="form-control" name="nombreRutina" id="field_nombreRutina"
                [(ngModel)]="rutina.nombreRutina" required maxlength="999"/>
            <div [hidden]="!(editForm.controls.nombreRutina?.dirty && editForm.controls.nombreRutina?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nombreRutina?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nombreRutina?.errors?.maxlength">
                   This field cannot be longer than 999 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_cantDiasRutina">Cant Dias Rutina</label>
            <input type="number" class="form-control" name="cantDiasRutina" id="field_cantDiasRutina"
                [(ngModel)]="rutina.cantDiasRutina" min="1" max="500"/>
            <div [hidden]="!(editForm.controls.cantDiasRutina?.dirty && editForm.controls.cantDiasRutina?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.cantDiasRutina?.errors?.min">
                    This field should be at least 1.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.cantDiasRutina?.errors?.max">
                    This field cannot be more than 500.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.cantDiasRutina?.errors?.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_estadoRutina">Estado Rutina</label>
            <input type="checkbox" class="form-control" name="estadoRutina" id="field_estadoRutina"
                [(ngModel)]="rutina.estadoRutina" />
            <div [hidden]="!(editForm.controls.estadoRutina?.dirty && editForm.controls.estadoRutina?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.estadoRutina?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
