
<div *ngIf="parametroConfiguracion">
    <h2><span>Parametro Configuracion</span> {{parametroConfiguracion.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Nombre Parametro</span></dt>
        <dd>
            <span>{{parametroConfiguracion.nombreParametro}}</span>
        </dd>
        <dt><span>Valor Parametro</span></dt>
        <dd>
            <span>{{parametroConfiguracion.valorParametro}}</span>
        </dd>
        <dt><span>Tipo De Dato</span></dt>
        <dd>
            <span>{{parametroConfiguracion.tipoDeDato}}</span>
        </dd>
        <dt><span>Estado Parametro</span></dt>
        <dd>
            <span>{{parametroConfiguracion.estadoParametro}}</span>
        </dd>
        <dt><span>Tipo Parametro</span></dt>
        <dd>
            <div *ngIf="parametroConfiguracion.tipoParametroId">
                <a [routerLink]="['/tipo-parametro', parametroConfiguracion.tipoParametroId]">{{parametroConfiguracion.tipoParametroId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'parametro-configuracion/'+ parametroConfiguracion.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
