<div>
    <h2>
        <span>Parametro Configuracions</span>
        <button class="btn btn-primary float-right jh-create-entity create-parametro-configuracion" [routerLink]="['/', { outlets: { popup: ['parametro-configuracion-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Parametro Configuracion
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="parametroConfiguracions">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nombreParametro"><span>Nombre Parametro</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="valorParametro"><span>Valor Parametro</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="tipoDeDato"><span>Tipo De Dato</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="estadoParametro"><span>Estado Parametro</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="tipoParametroId"><span>Tipo Parametro</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let parametroConfiguracion of parametroConfiguracions ;trackBy: trackId">
                <td><a [routerLink]="['../parametro-configuracion', parametroConfiguracion.id ]">{{parametroConfiguracion.id}}</a></td>
                <td>{{parametroConfiguracion.nombreParametro}}</td>
                <td>{{parametroConfiguracion.valorParametro}}</td>
                <td>{{parametroConfiguracion.tipoDeDato}}</td>
                <td>{{parametroConfiguracion.estadoParametro}}</td>
                <td>
                    <div *ngIf="parametroConfiguracion.tipoParametroId">
                        <a [routerLink]="['../tipo-parametro', parametroConfiguracion.tipoParametroId  ]" >{{parametroConfiguracion.tipoParametroId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../parametro-configuracion', parametroConfiguracion.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'parametro-configuracion/'+ parametroConfiguracion.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'parametro-configuracion/'+ parametroConfiguracion.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="parametroConfiguracions && parametroConfiguracions.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
