<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myParametroConfiguracionLabel">Create or edit a Parametro Configuracion</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!parametroConfiguracion.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="parametroConfiguracion.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_nombreParametro">Nombre Parametro</label>
            <input type="text" class="form-control" name="nombreParametro" id="field_nombreParametro"
                [(ngModel)]="parametroConfiguracion.nombreParametro" required maxlength="999"/>
            <div [hidden]="!(editForm.controls.nombreParametro?.dirty && editForm.controls.nombreParametro?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nombreParametro?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nombreParametro?.errors?.maxlength">
                   This field cannot be longer than 999 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_valorParametro">Valor Parametro</label>
            <input type="text" class="form-control" name="valorParametro" id="field_valorParametro"
                [(ngModel)]="parametroConfiguracion.valorParametro" required maxlength="999"/>
            <div [hidden]="!(editForm.controls.valorParametro?.dirty && editForm.controls.valorParametro?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.valorParametro?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.valorParametro?.errors?.maxlength">
                   This field cannot be longer than 999 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_tipoDeDato">Tipo De Dato</label>
            <input type="text" class="form-control" name="tipoDeDato" id="field_tipoDeDato"
                [(ngModel)]="parametroConfiguracion.tipoDeDato" required maxlength="50"/>
            <div [hidden]="!(editForm.controls.tipoDeDato?.dirty && editForm.controls.tipoDeDato?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.tipoDeDato?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.tipoDeDato?.errors?.maxlength">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_estadoParametro">Estado Parametro</label>
            <input type="checkbox" class="form-control" name="estadoParametro" id="field_estadoParametro"
                [(ngModel)]="parametroConfiguracion.estadoParametro" />
            <div [hidden]="!(editForm.controls.estadoParametro?.dirty && editForm.controls.estadoParametro?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.estadoParametro?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_tipoParametro">Tipo Parametro</label>
            <select class="form-control" id="field_tipoParametro" name="tipoParametro" [(ngModel)]="parametroConfiguracion.tipoParametroId">
                <option [ngValue]="null"></option>
                <option [ngValue]="tipoParametroOption.id" *ngFor="let tipoParametroOption of tipoparametros; trackBy: trackTipoParametroById">{{tipoParametroOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
