
<div *ngIf="permiso">
    <h2><span>Permiso</span> {{permiso.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Nombre Permiso</span></dt>
        <dd>
            <span>{{permiso.nombrePermiso}}</span>
        </dd>
        <dt><span>Estado Permiso</span></dt>
        <dd>
            <span>{{permiso.estadoPermiso}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'permiso/'+ permiso.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
