<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPermisoLabel">Create or edit a Permiso</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!permiso.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="permiso.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_nombrePermiso">Nombre Permiso</label>
            <input type="text" class="form-control" name="nombrePermiso" id="field_nombrePermiso"
                [(ngModel)]="permiso.nombrePermiso" required maxlength="999"/>
            <div [hidden]="!(editForm.controls.nombrePermiso?.dirty && editForm.controls.nombrePermiso?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nombrePermiso?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nombrePermiso?.errors?.maxlength">
                   This field cannot be longer than 999 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_estadoPermiso">Estado Permiso</label>
            <input type="checkbox" class="form-control" name="estadoPermiso" id="field_estadoPermiso"
                [(ngModel)]="permiso.estadoPermiso" />
            <div [hidden]="!(editForm.controls.estadoPermiso?.dirty && editForm.controls.estadoPermiso?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.estadoPermiso?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
