<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myRolLabel">Create or edit a Rol</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!rol.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="rol.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_nombreRol">Nombre Rol</label>
            <input type="text" class="form-control" name="nombreRol" id="field_nombreRol"
                [(ngModel)]="rol.nombreRol" required maxlength="15"/>
            <div [hidden]="!(editForm.controls.nombreRol?.dirty && editForm.controls.nombreRol?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nombreRol?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nombreRol?.errors?.maxlength">
                   This field cannot be longer than 15 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_estadoRol">Estado Rol</label>
            <input type="checkbox" class="form-control" name="estadoRol" id="field_estadoRol"
                [(ngModel)]="rol.estadoRol" />
            <div [hidden]="!(editForm.controls.estadoRol?.dirty && editForm.controls.estadoRol?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.estadoRol?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label for="field_rolXPermiso">Rol X Permiso</label>
            <select class="form-control" id="field_rolXPermiso" multiple name="rolXPermiso" [(ngModel)]="rol.rolXPermisos">
                <option [ngValue]="getSelected(rol.rolXPermisos, permisoOption)" *ngFor="let permisoOption of permisos; trackBy: trackPermisoById">{{permisoOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
