
<div *ngIf="rol">
    <h2><span>Rol</span> {{rol.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Nombre Rol</span></dt>
        <dd>
            <span>{{rol.nombreRol}}</span>
        </dd>
        <dt><span>Estado Rol</span></dt>
        <dd>
            <span>{{rol.estadoRol}}</span>
        </dd>
        <dt><span>Rol X Permiso</span></dt>
        <dd>
            <span *ngFor="let rolXPermiso of rol.rolXPermisos; let last = last">
                <a [routerLink]="['/permiso', rolXPermiso?.id ]">{{rolXPermiso.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'rol/'+ rol.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
