<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myMultimediaLabel">Create or edit a Multimedia</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!multimedia.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="multimedia.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_nombreMultimedia">Nombre Multimedia</label>
            <input type="text" class="form-control" name="nombreMultimedia" id="field_nombreMultimedia"
                [(ngModel)]="multimedia.nombreMultimedia" required maxlength="999"/>
            <div [hidden]="!(editForm.controls.nombreMultimedia?.dirty && editForm.controls.nombreMultimedia?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nombreMultimedia?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nombreMultimedia?.errors?.maxlength">
                   This field cannot be longer than 999 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_propositoMultimedia">Proposito Multimedia</label>
            <input type="number" class="form-control" name="propositoMultimedia" id="field_propositoMultimedia"
                [(ngModel)]="multimedia.propositoMultimedia" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_encode">Encode</label>
            <input type="text" class="form-control" name="encode" id="field_encode"
                [(ngModel)]="multimedia.encode" required/>
            <div [hidden]="!(editForm.controls.encode?.dirty && editForm.controls.encode?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.encode?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_tipoMultimedia">Tipo Multimedia</label>
            <select class="form-control" id="field_tipoMultimedia" name="tipoMultimedia" [(ngModel)]="multimedia.tipoMultimediaId">
                <option [ngValue]="null"></option>
                <option [ngValue]="parametroConfiguracionOption.id" *ngFor="let parametroConfiguracionOption of tipomultimedias; trackBy: trackParametroConfiguracionById">{{parametroConfiguracionOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
