<div>
    <h2>
        <span>Multimedias</span>
        <button class="btn btn-primary float-right jh-create-entity create-multimedia" [routerLink]="['/', { outlets: { popup: ['multimedia-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Multimedia
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="multimedias">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nombreMultimedia"><span>Nombre Multimedia</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="propositoMultimedia"><span>Proposito Multimedia</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="encode"><span>Encode</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="tipoMultimediaId"><span>Tipo Multimedia</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let multimedia of multimedias ;trackBy: trackId">
                <td><a [routerLink]="['../multimedia', multimedia.id ]">{{multimedia.id}}</a></td>
                <td>{{multimedia.nombreMultimedia}}</td>
                <td>{{multimedia.propositoMultimedia}}</td>
                <td>{{multimedia.encode}}</td>
                <td>
                    <div *ngIf="multimedia.tipoMultimediaId">
                        <a [routerLink]="['../parametro-configuracion', multimedia.tipoMultimediaId  ]" >{{multimedia.tipoMultimediaId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../multimedia', multimedia.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'multimedia/'+ multimedia.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'multimedia/'+ multimedia.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="multimedias && multimedias.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
