
<div *ngIf="multimedia">
    <h2><span>Multimedia</span> {{multimedia.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Nombre Multimedia</span></dt>
        <dd>
            <span>{{multimedia.nombreMultimedia}}</span>
        </dd>
        <dt><span>Proposito Multimedia</span></dt>
        <dd>
            <span>{{multimedia.propositoMultimedia}}</span>
        </dd>
        <dt><span>Encode</span></dt>
        <dd>
            <span>{{multimedia.encode}}</span>
        </dd>
        <dt><span>Tipo Multimedia</span></dt>
        <dd>
            <div *ngIf="multimedia.tipoMultimediaId">
                <a [routerLink]="['/parametro-configuracion', multimedia.tipoMultimediaId]">{{multimedia.tipoMultimediaId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'multimedia/'+ multimedia.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
