<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myEjercicioXRutinaLabel">Create or edit a Ejercicio X Rutina</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!ejercicioXRutina.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="ejercicioXRutina.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_peso">Peso</label>
            <input type="number" class="form-control" name="peso" id="field_peso"
                [(ngModel)]="ejercicioXRutina.peso" max="500"/>
            <div [hidden]="!(editForm.controls.peso?.dirty && editForm.controls.peso?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.peso?.errors?.max">
                    This field cannot be more than 500.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.peso?.errors?.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_reps">Reps</label>
            <input type="number" class="form-control" name="reps" id="field_reps"
                [(ngModel)]="ejercicioXRutina.reps" max="500"/>
            <div [hidden]="!(editForm.controls.reps?.dirty && editForm.controls.reps?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.reps?.errors?.max">
                    This field cannot be more than 500.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.reps?.errors?.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_sets">Sets</label>
            <input type="number" class="form-control" name="sets" id="field_sets"
                [(ngModel)]="ejercicioXRutina.sets" max="500"/>
            <div [hidden]="!(editForm.controls.sets?.dirty && editForm.controls.sets?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.sets?.errors?.max">
                    This field cannot be more than 500.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.sets?.errors?.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_ajuste">Ajuste</label>
            <input type="text" class="form-control" name="ajuste" id="field_ajuste"
                [(ngModel)]="ejercicioXRutina.ajuste" maxlength="20"/>
            <div [hidden]="!(editForm.controls.ajuste?.dirty && editForm.controls.ajuste?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.ajuste?.errors?.maxlength">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_tiempo">Tiempo</label>
            <input type="text" class="form-control" name="tiempo" id="field_tiempo"
                [(ngModel)]="ejercicioXRutina.tiempo" maxlength="10"/>
            <div [hidden]="!(editForm.controls.tiempo?.dirty && editForm.controls.tiempo?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.tiempo?.errors?.maxlength">
                   This field cannot be longer than 10 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_commentario">Commentario</label>
            <input type="text" class="form-control" name="commentario" id="field_commentario"
                [(ngModel)]="ejercicioXRutina.commentario" maxlength="50"/>
            <div [hidden]="!(editForm.controls.commentario?.dirty && editForm.controls.commentario?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.commentario?.errors?.maxlength">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_estadoEjercicioRutina">Estado Ejercicio Rutina</label>
            <input type="checkbox" class="form-control" name="estadoEjercicioRutina" id="field_estadoEjercicioRutina"
                [(ngModel)]="ejercicioXRutina.estadoEjercicioRutina" />
            <div [hidden]="!(editForm.controls.estadoEjercicioRutina?.dirty && editForm.controls.estadoEjercicioRutina?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.estadoEjercicioRutina?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_ejercicioXRutina">Ejercicio X Rutina</label>
            <select class="form-control" id="field_ejercicioXRutina" name="ejercicioXRutina" [(ngModel)]="ejercicioXRutina.ejercicioXRutinaId">
                <option [ngValue]="null"></option>
                <option [ngValue]="subRutinaOption.id" *ngFor="let subRutinaOption of ejercicioxrutinas; trackBy: trackSubRutinaById">{{subRutinaOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
