<div>
    <h2>
        <span>Ejercicio X Rutinas</span>
        <button class="btn btn-primary float-right jh-create-entity create-ejercicio-x-rutina" [routerLink]="['/', { outlets: { popup: ['ejercicio-x-rutina-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Ejercicio X Rutina
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="ejercicioXRutinas">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="peso"><span>Peso</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="reps"><span>Reps</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="sets"><span>Sets</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="ajuste"><span>Ajuste</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="tiempo"><span>Tiempo</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="commentario"><span>Commentario</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="estadoEjercicioRutina"><span>Estado Ejercicio Rutina</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="ejercicioXRutinaId"><span>Ejercicio X Rutina</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ejercicioXRutina of ejercicioXRutinas ;trackBy: trackId">
                <td><a [routerLink]="['../ejercicio-x-rutina', ejercicioXRutina.id ]">{{ejercicioXRutina.id}}</a></td>
                <td>{{ejercicioXRutina.peso}}</td>
                <td>{{ejercicioXRutina.reps}}</td>
                <td>{{ejercicioXRutina.sets}}</td>
                <td>{{ejercicioXRutina.ajuste}}</td>
                <td>{{ejercicioXRutina.tiempo}}</td>
                <td>{{ejercicioXRutina.commentario}}</td>
                <td>{{ejercicioXRutina.estadoEjercicioRutina}}</td>
                <td>
                    <div *ngIf="ejercicioXRutina.ejercicioXRutinaId">
                        <a [routerLink]="['../sub-rutina', ejercicioXRutina.ejercicioXRutinaId  ]" >{{ejercicioXRutina.ejercicioXRutinaId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../ejercicio-x-rutina', ejercicioXRutina.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'ejercicio-x-rutina/'+ ejercicioXRutina.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'ejercicio-x-rutina/'+ ejercicioXRutina.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="ejercicioXRutinas && ejercicioXRutinas.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
