
<div *ngIf="ejercicioXRutina">
    <h2><span>Ejercicio X Rutina</span> {{ejercicioXRutina.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Peso</span></dt>
        <dd>
            <span>{{ejercicioXRutina.peso}}</span>
        </dd>
        <dt><span>Reps</span></dt>
        <dd>
            <span>{{ejercicioXRutina.reps}}</span>
        </dd>
        <dt><span>Sets</span></dt>
        <dd>
            <span>{{ejercicioXRutina.sets}}</span>
        </dd>
        <dt><span>Ajuste</span></dt>
        <dd>
            <span>{{ejercicioXRutina.ajuste}}</span>
        </dd>
        <dt><span>Tiempo</span></dt>
        <dd>
            <span>{{ejercicioXRutina.tiempo}}</span>
        </dd>
        <dt><span>Commentario</span></dt>
        <dd>
            <span>{{ejercicioXRutina.commentario}}</span>
        </dd>
        <dt><span>Estado Ejercicio Rutina</span></dt>
        <dd>
            <span>{{ejercicioXRutina.estadoEjercicioRutina}}</span>
        </dd>
        <dt><span>Ejercicio X Rutina</span></dt>
        <dd>
            <div *ngIf="ejercicioXRutina.ejercicioXRutinaId">
                <a [routerLink]="['/sub-rutina', ejercicioXRutina.ejercicioXRutinaId]">{{ejercicioXRutina.ejercicioXRutinaId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'ejercicio-x-rutina/'+ ejercicioXRutina.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
