
<div *ngIf="horario">
    <h2><span>Horario</span> {{horario.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Dia Entrenador</span></dt>
        <dd>
            <span>{{horario.diaEntrenador}}</span>
        </dd>
        <dt><span>Disponibilidad Entrenador</span></dt>
        <dd>
            <span>{{horario.disponibilidadEntrenador}}</span>
        </dd>
        <dt><span>Horario Inicio Horario</span></dt>
        <dd>
            <span>{{horario.horarioInicioHorario | date:'medium'}}</span>
        </dd>
        <dt><span>Horario Fin Horario</span></dt>
        <dd>
            <span>{{horario.horarioFinHorario | date:'medium'}}</span>
        </dd>
        <dt><span>Estado Horario</span></dt>
        <dd>
            <span>{{horario.estadoHorario}}</span>
        </dd>
        <dt><span>Horario Usuario</span></dt>
        <dd>
            <div *ngIf="horario.horarioUsuarioId">
                <a [routerLink]="['/usuario', horario.horarioUsuarioId]">{{horario.horarioUsuarioId}}</a>
            </div>
        </dd>
        <dt><span>Horarios Parametro</span></dt>
        <dd>
            <span *ngFor="let horariosParametro of horario.horariosParametros; let last = last">
                <a [routerLink]="['/parametro-configuracion', horariosParametro?.id ]">{{horariosParametro.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'horario/'+ horario.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
