<div>
    <h2>
        <span>Horarios</span>
        <button class="btn btn-primary float-right jh-create-entity create-horario" [routerLink]="['/', { outlets: { popup: ['horario-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Horario
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="horarios">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="diaEntrenador"><span>Dia Entrenador</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="disponibilidadEntrenador"><span>Disponibilidad Entrenador</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="horarioInicioHorario"><span>Horario Inicio Horario</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="horarioFinHorario"><span>Horario Fin Horario</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="estadoHorario"><span>Estado Horario</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="horarioUsuarioId"><span>Horario Usuario</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let horario of horarios ;trackBy: trackId">
                <td><a [routerLink]="['../horario', horario.id ]">{{horario.id}}</a></td>
                <td>{{horario.diaEntrenador}}</td>
                <td>{{horario.disponibilidadEntrenador}}</td>
                <td>{{horario.horarioInicioHorario | date:'medium'}}</td>
                <td>{{horario.horarioFinHorario | date:'medium'}}</td>
                <td>{{horario.estadoHorario}}</td>
                <td>
                    <div *ngIf="horario.horarioUsuarioId">
                        <a [routerLink]="['../usuario', horario.horarioUsuarioId  ]" >{{horario.horarioUsuarioId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../horario', horario.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'horario/'+ horario.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'horario/'+ horario.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="horarios && horarios.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
