<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myHorarioLabel">Create or edit a Horario</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!horario.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="horario.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_diaEntrenador">Dia Entrenador</label>
            <input type="text" class="form-control" name="diaEntrenador" id="field_diaEntrenador"
                [(ngModel)]="horario.diaEntrenador" required maxlength="1"/>
            <div [hidden]="!(editForm.controls.diaEntrenador?.dirty && editForm.controls.diaEntrenador?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.diaEntrenador?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.diaEntrenador?.errors?.maxlength">
                   This field cannot be longer than 1 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_disponibilidadEntrenador">Disponibilidad Entrenador</label>
            <input type="checkbox" class="form-control" name="disponibilidadEntrenador" id="field_disponibilidadEntrenador"
                [(ngModel)]="horario.disponibilidadEntrenador" />
            <div [hidden]="!(editForm.controls.disponibilidadEntrenador?.dirty && editForm.controls.disponibilidadEntrenador?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.disponibilidadEntrenador?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_horarioInicioHorario">Horario Inicio Horario</label>
            <div class="d-flex">
                <input id="field_horarioInicioHorario" type="datetime-local" class="form-control" name="horarioInicioHorario" [(ngModel)]="horario.horarioInicioHorario"
                required/>
            </div>
            <div [hidden]="!(editForm.controls.horarioInicioHorario?.dirty && editForm.controls.horarioInicioHorario?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.horarioInicioHorario?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.horarioInicioHorario?.errors?.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_horarioFinHorario">Horario Fin Horario</label>
            <div class="d-flex">
                <input id="field_horarioFinHorario" type="datetime-local" class="form-control" name="horarioFinHorario" [(ngModel)]="horario.horarioFinHorario"
                required/>
            </div>
            <div [hidden]="!(editForm.controls.horarioFinHorario?.dirty && editForm.controls.horarioFinHorario?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.horarioFinHorario?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.horarioFinHorario?.errors?.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_estadoHorario">Estado Horario</label>
            <input type="checkbox" class="form-control" name="estadoHorario" id="field_estadoHorario"
                [(ngModel)]="horario.estadoHorario" />
            <div [hidden]="!(editForm.controls.estadoHorario?.dirty && editForm.controls.estadoHorario?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.estadoHorario?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_horarioUsuario">Horario Usuario</label>
            <select class="form-control" id="field_horarioUsuario" name="horarioUsuario" [(ngModel)]="horario.horarioUsuarioId">
                <option [ngValue]="null"></option>
                <option [ngValue]="usuarioOption.id" *ngFor="let usuarioOption of horariousuarios; trackBy: trackUsuarioById">{{usuarioOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_horariosParametro">Horarios Parametro</label>
            <select class="form-control" id="field_horariosParametro" multiple name="horariosParametro" [(ngModel)]="horario.horariosParametros">
                <option [ngValue]="getSelected(horario.horariosParametros, parametroConfiguracionOption)" *ngFor="let parametroConfiguracionOption of parametroconfiguracions; trackBy: trackParametroConfiguracionById">{{parametroConfiguracionOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
