<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mySedeLabel">Create or edit a Sede</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!sede.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="sede.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_nombreSede">Nombre Sede</label>
            <input type="text" class="form-control" name="nombreSede" id="field_nombreSede"
                [(ngModel)]="sede.nombreSede" required maxlength="999"/>
            <div [hidden]="!(editForm.controls.nombreSede?.dirty && editForm.controls.nombreSede?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nombreSede?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nombreSede?.errors?.maxlength">
                   This field cannot be longer than 999 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_direccionSede">Direccion Sede</label>
            <input type="text" class="form-control" name="direccionSede" id="field_direccionSede"
                [(ngModel)]="sede.direccionSede" required maxlength="999"/>
            <div [hidden]="!(editForm.controls.direccionSede?.dirty && editForm.controls.direccionSede?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.direccionSede?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.direccionSede?.errors?.maxlength">
                   This field cannot be longer than 999 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_estadoSede">Estado Sede</label>
            <input type="checkbox" class="form-control" name="estadoSede" id="field_estadoSede"
                [(ngModel)]="sede.estadoSede" />
            <div [hidden]="!(editForm.controls.estadoSede?.dirty && editForm.controls.estadoSede?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.estadoSede?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_gimnasio">Gimnasio</label>
            <select class="form-control" id="field_gimnasio" name="gimnasio" [(ngModel)]="sede.gimnasioId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="gimnasioOption.id" *ngFor="let gimnasioOption of gimnasios; trackBy: trackGimnasioById">{{gimnasioOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
