
<div *ngIf="sede">
    <h2><span>Sede</span> {{sede.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Nombre Sede</span></dt>
        <dd>
            <span>{{sede.nombreSede}}</span>
        </dd>
        <dt><span>Direccion Sede</span></dt>
        <dd>
            <span>{{sede.direccionSede}}</span>
        </dd>
        <dt><span>Estado Sede</span></dt>
        <dd>
            <span>{{sede.estadoSede}}</span>
        </dd>
        <dt><span>Gimnasio</span></dt>
        <dd>
            <div *ngIf="sede.gimnasioId">
                <a [routerLink]="['/gimnasio', sede.gimnasioId]">{{sede.gimnasioId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'sede/'+ sede.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
