<div>
    <h2>
        <span>Sedes</span>
        <button class="btn btn-primary float-right jh-create-entity create-sede" [routerLink]="['/', { outlets: { popup: ['sede-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Sede
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="sedes">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nombreSede"><span>Nombre Sede</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="direccionSede"><span>Direccion Sede</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="estadoSede"><span>Estado Sede</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="gimnasioId"><span>Gimnasio</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sede of sedes ;trackBy: trackId">
                <td><a [routerLink]="['../sede', sede.id ]">{{sede.id}}</a></td>
                <td>{{sede.nombreSede}}</td>
                <td>{{sede.direccionSede}}</td>
                <td>{{sede.estadoSede}}</td>
                <td>
                    <div *ngIf="sede.gimnasioId">
                        <a [routerLink]="['../gimnasio', sede.gimnasioId  ]" >{{sede.gimnasioId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../sede', sede.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'sede/'+ sede.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'sede/'+ sede.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="sedes && sedes.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
