<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myUsuarioLabel">Create or edit a Usuario</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!usuario.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="usuario.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_nombreUsuario">Nombre Usuario</label>
            <input type="text" class="form-control" name="nombreUsuario" id="field_nombreUsuario"
                [(ngModel)]="usuario.nombreUsuario" required maxlength="15"/>
            <div [hidden]="!(editForm.controls.nombreUsuario?.dirty && editForm.controls.nombreUsuario?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nombreUsuario?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nombreUsuario?.errors?.maxlength">
                   This field cannot be longer than 15 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_apellidoUsuario">Apellido Usuario</label>
            <input type="text" class="form-control" name="apellidoUsuario" id="field_apellidoUsuario"
                [(ngModel)]="usuario.apellidoUsuario" required maxlength="15"/>
            <div [hidden]="!(editForm.controls.apellidoUsuario?.dirty && editForm.controls.apellidoUsuario?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.apellidoUsuario?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.apellidoUsuario?.errors?.maxlength">
                   This field cannot be longer than 15 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_direccion">Direccion</label>
            <input type="text" class="form-control" name="direccion" id="field_direccion"
                [(ngModel)]="usuario.direccion" required maxlength="999"/>
            <div [hidden]="!(editForm.controls.direccion?.dirty && editForm.controls.direccion?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.direccion?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.direccion?.errors?.maxlength">
                   This field cannot be longer than 999 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_fechaNacimiento">Fecha Nacimiento</label>
            <div class="d-flex">
                <input id="field_fechaNacimiento" type="datetime-local" class="form-control" name="fechaNacimiento" [(ngModel)]="usuario.fechaNacimiento"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_telefono">Telefono</label>
            <input type="text" class="form-control" name="telefono" id="field_telefono"
                [(ngModel)]="usuario.telefono" required maxlength="15"/>
            <div [hidden]="!(editForm.controls.telefono?.dirty && editForm.controls.telefono?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.telefono?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.telefono?.errors?.maxlength">
                   This field cannot be longer than 15 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_identificacion">Identificacion</label>
            <input type="text" class="form-control" name="identificacion" id="field_identificacion"
                [(ngModel)]="usuario.identificacion" required minlength="5" maxlength="20"/>
            <div [hidden]="!(editForm.controls.identificacion?.dirty && editForm.controls.identificacion?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.identificacion?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.identificacion?.errors?.minlength">
                   This field is required to be at least 5 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.identificacion?.errors?.maxlength">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_correoElectronico">Correo Electronico</label>
            <input type="text" class="form-control" name="correoElectronico" id="field_correoElectronico"
                [(ngModel)]="usuario.correoElectronico" required maxlength="30"/>
            <div [hidden]="!(editForm.controls.correoElectronico?.dirty && editForm.controls.correoElectronico?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.correoElectronico?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.correoElectronico?.errors?.maxlength">
                   This field cannot be longer than 30 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_diaPago">Dia Pago</label>
            <input type="number" class="form-control" name="diaPago" id="field_diaPago"
                [(ngModel)]="usuario.diaPago" required min="1" max="31"/>
            <div [hidden]="!(editForm.controls.diaPago?.dirty && editForm.controls.diaPago?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.diaPago?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.diaPago?.errors?.min">
                    This field should be at least 1.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.diaPago?.errors?.max">
                    This field cannot be more than 31.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.diaPago?.errors?.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_lesion">Lesion</label>
            <input type="checkbox" class="form-control" name="lesion" id="field_lesion"
                [(ngModel)]="usuario.lesion" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_descLesion">Desc Lesion</label>
            <input type="text" class="form-control" name="descLesion" id="field_descLesion"
                [(ngModel)]="usuario.descLesion" maxlength="999"/>
            <div [hidden]="!(editForm.controls.descLesion?.dirty && editForm.controls.descLesion?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.descLesion?.errors?.maxlength">
                   This field cannot be longer than 999 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_estado">Estado</label>
            <input type="checkbox" class="form-control" name="estado" id="field_estado"
                [(ngModel)]="usuario.estado" />
            <div [hidden]="!(editForm.controls.estado?.dirty && editForm.controls.estado?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.estado?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_contrasenna">Contrasenna</label>
            <input type="text" class="form-control" name="contrasenna" id="field_contrasenna"
                [(ngModel)]="usuario.contrasenna" required/>
            <div [hidden]="!(editForm.controls.contrasenna?.dirty && editForm.controls.contrasenna?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.contrasenna?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="usuario.userId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_sede">Sede</label>
            <select class="form-control" id="field_sede" name="sede" [(ngModel)]="usuario.sedeId">
                <option [ngValue]="null"></option>
                <option [ngValue]="sedeOption.id" *ngFor="let sedeOption of sedes; trackBy: trackSedeById">{{sedeOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_rol">Rol</label>
            <select class="form-control" id="field_rol" name="rol" [(ngModel)]="usuario.rolId">
                <option [ngValue]="null"></option>
                <option [ngValue]="rolOption.id" *ngFor="let rolOption of rols; trackBy: trackRolById">{{rolOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_usuario">Usuario</label>
            <select class="form-control" id="field_usuario" name="usuario" [(ngModel)]="usuario.usuarioId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="usuarioOption.id" *ngFor="let usuarioOption of usuarios; trackBy: trackUsuarioById">{{usuarioOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_rutina">Rutina</label>
            <select class="form-control" id="field_rutina" name="rutina" [(ngModel)]="usuario.rutinaId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="rutinaOption.id" *ngFor="let rutinaOption of rutinas; trackBy: trackRutinaById">{{rutinaOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
