<div>
    <h2>
        <span>Usuarios</span>
        <button class="btn btn-primary float-right jh-create-entity create-usuario" [routerLink]="['/', { outlets: { popup: ['usuario-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Usuario
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="usuarios">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nombreUsuario"><span>Nombre Usuario</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="apellidoUsuario"><span>Apellido Usuario</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="direccion"><span>Direccion</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="fechaNacimiento"><span>Fecha Nacimiento</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="telefono"><span>Telefono</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="identificacion"><span>Identificacion</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="correoElectronico"><span>Correo Electronico</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="diaPago"><span>Dia Pago</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lesion"><span>Lesion</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="descLesion"><span>Desc Lesion</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="estado"><span>Estado</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="contrasenna"><span>Contrasenna</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="userId"><span>User</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="sedeId"><span>Sede</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="rolId"><span>Rol</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="usuarioId"><span>Usuario</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="rutinaId"><span>Rutina</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let usuario of usuarios ;trackBy: trackId">
                <td><a [routerLink]="['../usuario', usuario.id ]">{{usuario.id}}</a></td>
                <td>{{usuario.nombreUsuario}}</td>
                <td>{{usuario.apellidoUsuario}}</td>
                <td>{{usuario.direccion}}</td>
                <td>{{usuario.fechaNacimiento | date:'medium'}}</td>
                <td>{{usuario.telefono}}</td>
                <td>{{usuario.identificacion}}</td>
                <td>{{usuario.correoElectronico}}</td>
                <td>{{usuario.diaPago}}</td>
                <td>{{usuario.lesion}}</td>
                <td>{{usuario.descLesion}}</td>
                <td>{{usuario.estado}}</td>
                <td>{{usuario.contrasenna}}</td>
                <td>
                    {{usuario.userId}}
                </td>
                <td>
                    <div *ngIf="usuario.sedeId">
                        <a [routerLink]="['../sede', usuario.sedeId  ]" >{{usuario.sedeId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="usuario.rolId">
                        <a [routerLink]="['../rol', usuario.rolId  ]" >{{usuario.rolId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="usuario.usuarioId">
                        <a [routerLink]="['../usuario', usuario.usuarioId  ]" >{{usuario.usuarioId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="usuario.rutinaId">
                        <a [routerLink]="['../rutina', usuario.rutinaId  ]" >{{usuario.rutinaId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../usuario', usuario.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'usuario/'+ usuario.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'usuario/'+ usuario.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="usuarios && usuarios.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
