
<div *ngIf="usuario">
    <h2><span>Usuario</span> {{usuario.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Nombre Usuario</span></dt>
        <dd>
            <span>{{usuario.nombreUsuario}}</span>
        </dd>
        <dt><span>Apellido Usuario</span></dt>
        <dd>
            <span>{{usuario.apellidoUsuario}}</span>
        </dd>
        <dt><span>Direccion</span></dt>
        <dd>
            <span>{{usuario.direccion}}</span>
        </dd>
        <dt><span>Fecha Nacimiento</span></dt>
        <dd>
            <span>{{usuario.fechaNacimiento | date:'medium'}}</span>
        </dd>
        <dt><span>Telefono</span></dt>
        <dd>
            <span>{{usuario.telefono}}</span>
        </dd>
        <dt><span>Identificacion</span></dt>
        <dd>
            <span>{{usuario.identificacion}}</span>
        </dd>
        <dt><span>Correo Electronico</span></dt>
        <dd>
            <span>{{usuario.correoElectronico}}</span>
        </dd>
        <dt><span>Dia Pago</span></dt>
        <dd>
            <span>{{usuario.diaPago}}</span>
        </dd>
        <dt><span>Lesion</span></dt>
        <dd>
            <span>{{usuario.lesion}}</span>
        </dd>
        <dt><span>Desc Lesion</span></dt>
        <dd>
            <span>{{usuario.descLesion}}</span>
        </dd>
        <dt><span>Estado</span></dt>
        <dd>
            <span>{{usuario.estado}}</span>
        </dd>
        <dt><span>Contrasenna</span></dt>
        <dd>
            <span>{{usuario.contrasenna}}</span>
        </dd>
        <dt><span>User</span></dt>
        <dd>
            {{usuario.userId}}
        </dd>
        <dt><span>Sede</span></dt>
        <dd>
            <div *ngIf="usuario.sedeId">
                <a [routerLink]="['/sede', usuario.sedeId]">{{usuario.sedeId}}</a>
            </div>
        </dd>
        <dt><span>Rol</span></dt>
        <dd>
            <div *ngIf="usuario.rolId">
                <a [routerLink]="['/rol', usuario.rolId]">{{usuario.rolId}}</a>
            </div>
        </dd>
        <dt><span>Usuario</span></dt>
        <dd>
            <div *ngIf="usuario.usuarioId">
                <a [routerLink]="['/usuario', usuario.usuarioId]">{{usuario.usuarioId}}</a>
            </div>
        </dd>
        <dt><span>Rutina</span></dt>
        <dd>
            <div *ngIf="usuario.rutinaId">
                <a [routerLink]="['/rutina', usuario.rutinaId]">{{usuario.rutinaId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'usuario/'+ usuario.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
