
<div *ngIf="tipoParametro">
    <h2><span>Tipo Parametro</span> {{tipoParametro.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Nombre Tipo Parametro</span></dt>
        <dd>
            <span>{{tipoParametro.nombreTipoParametro}}</span>
        </dd>
        <dt><span>Estado Tipo Parametro</span></dt>
        <dd>
            <span>{{tipoParametro.estadoTipoParametro}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'tipo-parametro/'+ tipoParametro.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
