<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTipoParametroLabel">Create or edit a Tipo Parametro</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!tipoParametro.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="tipoParametro.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_nombreTipoParametro">Nombre Tipo Parametro</label>
            <input type="text" class="form-control" name="nombreTipoParametro" id="field_nombreTipoParametro"
                [(ngModel)]="tipoParametro.nombreTipoParametro" required maxlength="999"/>
            <div [hidden]="!(editForm.controls.nombreTipoParametro?.dirty && editForm.controls.nombreTipoParametro?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nombreTipoParametro?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nombreTipoParametro?.errors?.maxlength">
                   This field cannot be longer than 999 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_estadoTipoParametro">Estado Tipo Parametro</label>
            <input type="checkbox" class="form-control" name="estadoTipoParametro" id="field_estadoTipoParametro"
                [(ngModel)]="tipoParametro.estadoTipoParametro" />
            <div [hidden]="!(editForm.controls.estadoTipoParametro?.dirty && editForm.controls.estadoTipoParametro?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.estadoTipoParametro?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
