<div>
    <h2>
        <span>Activos</span>
        <button class="btn btn-primary float-right jh-create-entity create-activo" [routerLink]="['/', { outlets: { popup: ['activo-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Activo
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="activos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nombreActivo"><span>Nombre Activo</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="cantActivos"><span>Cant Activos</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="estadoActivo"><span>Estado Activo</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="sedeId"><span>Sede</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let activo of activos ;trackBy: trackId">
                <td><a [routerLink]="['../activo', activo.id ]">{{activo.id}}</a></td>
                <td>{{activo.nombreActivo}}</td>
                <td>{{activo.cantActivos}}</td>
                <td>{{activo.estadoActivo}}</td>
                <td>
                    <div *ngIf="activo.sedeId">
                        <a [routerLink]="['../sede', activo.sedeId  ]" >{{activo.sedeId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../activo', activo.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'activo/'+ activo.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'activo/'+ activo.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="activos && activos.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
