<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myActivoLabel">Create or edit a Activo</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!activo.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="activo.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_nombreActivo">Nombre Activo</label>
            <input type="text" class="form-control" name="nombreActivo" id="field_nombreActivo"
                [(ngModel)]="activo.nombreActivo" required maxlength="999"/>
            <div [hidden]="!(editForm.controls.nombreActivo?.dirty && editForm.controls.nombreActivo?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nombreActivo?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nombreActivo?.errors?.maxlength">
                   This field cannot be longer than 999 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_cantActivos">Cant Activos</label>
            <input type="number" class="form-control" name="cantActivos" id="field_cantActivos"
                [(ngModel)]="activo.cantActivos" required max="500"/>
            <div [hidden]="!(editForm.controls.cantActivos?.dirty && editForm.controls.cantActivos?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.cantActivos?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.cantActivos?.errors?.max">
                    This field cannot be more than 500.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.cantActivos?.errors?.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_estadoActivo">Estado Activo</label>
            <input type="checkbox" class="form-control" name="estadoActivo" id="field_estadoActivo"
                [(ngModel)]="activo.estadoActivo" />
            <div [hidden]="!(editForm.controls.estadoActivo?.dirty && editForm.controls.estadoActivo?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.estadoActivo?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_sede">Sede</label>
            <select class="form-control" id="field_sede" name="sede" [(ngModel)]="activo.sedeId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="sedeOption.id" *ngFor="let sedeOption of sedes; trackBy: trackSedeById">{{sedeOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
