
<div *ngIf="activo">
    <h2><span>Activo</span> {{activo.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Nombre Activo</span></dt>
        <dd>
            <span>{{activo.nombreActivo}}</span>
        </dd>
        <dt><span>Cant Activos</span></dt>
        <dd>
            <span>{{activo.cantActivos}}</span>
        </dd>
        <dt><span>Estado Activo</span></dt>
        <dd>
            <span>{{activo.estadoActivo}}</span>
        </dd>
        <dt><span>Sede</span></dt>
        <dd>
            <div *ngIf="activo.sedeId">
                <a [routerLink]="['/sede', activo.sedeId]">{{activo.sedeId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'activo/'+ activo.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
