
<div *ngIf="ejercicio">
    <h2><span>Ejercicio</span> {{ejercicio.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Nombre Ejercicio</span></dt>
        <dd>
            <span>{{ejercicio.nombreEjercicio}}</span>
        </dd>
        <dt><span>Estado Ejercicio</span></dt>
        <dd>
            <span>{{ejercicio.estadoEjercicio}}</span>
        </dd>
        <dt><span>Sede</span></dt>
        <dd>
            <div *ngIf="ejercicio.sedeId">
                <a [routerLink]="['/sede', ejercicio.sedeId]">{{ejercicio.sedeId}}</a>
            </div>
        </dd>
        <dt><span>Ejercicio Activos</span></dt>
        <dd>
            <span *ngFor="let ejercicioActivos of ejercicio.ejercicioActivos; let last = last">
                <a [routerLink]="['/activo', ejercicioActivos?.id ]">{{ejercicioActivos.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
        <dt><span>Ejercicio Musculos</span></dt>
        <dd>
            <span *ngFor="let ejercicioMusculos of ejercicio.ejercicioMusculos; let last = last">
                <a [routerLink]="['/musculo', ejercicioMusculos?.id ]">{{ejercicioMusculos.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'ejercicio/'+ ejercicio.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
