<div>
    <h2>
        <span>Ejercicios</span>
        <button class="btn btn-primary float-right jh-create-entity create-ejercicio" [routerLink]="['/', { outlets: { popup: ['ejercicio-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Ejercicio
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="ejercicios">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nombreEjercicio"><span>Nombre Ejercicio</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="estadoEjercicio"><span>Estado Ejercicio</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="sedeId"><span>Sede</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ejercicio of ejercicios ;trackBy: trackId">
                <td><a [routerLink]="['../ejercicio', ejercicio.id ]">{{ejercicio.id}}</a></td>
                <td>{{ejercicio.nombreEjercicio}}</td>
                <td>{{ejercicio.estadoEjercicio}}</td>
                <td>
                    <div *ngIf="ejercicio.sedeId">
                        <a [routerLink]="['../sede', ejercicio.sedeId  ]" >{{ejercicio.sedeId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../ejercicio', ejercicio.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'ejercicio/'+ ejercicio.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'ejercicio/'+ ejercicio.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="ejercicios && ejercicios.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
