<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myEjercicioLabel">Create or edit a Ejercicio</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!ejercicio.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="ejercicio.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_nombreEjercicio">Nombre Ejercicio</label>
            <input type="text" class="form-control" name="nombreEjercicio" id="field_nombreEjercicio"
                [(ngModel)]="ejercicio.nombreEjercicio" required maxlength="999"/>
            <div [hidden]="!(editForm.controls.nombreEjercicio?.dirty && editForm.controls.nombreEjercicio?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nombreEjercicio?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nombreEjercicio?.errors?.maxlength">
                   This field cannot be longer than 999 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_estadoEjercicio">Estado Ejercicio</label>
            <input type="checkbox" class="form-control" name="estadoEjercicio" id="field_estadoEjercicio"
                [(ngModel)]="ejercicio.estadoEjercicio" />
            <div [hidden]="!(editForm.controls.estadoEjercicio?.dirty && editForm.controls.estadoEjercicio?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.estadoEjercicio?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_sede">Sede</label>
            <select class="form-control" id="field_sede" name="sede" [(ngModel)]="ejercicio.sedeId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="sedeOption.id" *ngFor="let sedeOption of sedes; trackBy: trackSedeById">{{sedeOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_ejercicioActivos">Ejercicio Activos</label>
            <select class="form-control" id="field_ejercicioActivos" multiple name="ejercicioActivos" [(ngModel)]="ejercicio.ejercicioActivos">
                <option [ngValue]="getSelected(ejercicio.ejercicioActivos, activoOption)" *ngFor="let activoOption of activos; trackBy: trackActivoById">{{activoOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_ejercicioMusculos">Ejercicio Musculos</label>
            <select class="form-control" id="field_ejercicioMusculos" multiple name="ejercicioMusculos" [(ngModel)]="ejercicio.ejercicioMusculos">
                <option [ngValue]="getSelected(ejercicio.ejercicioMusculos, musculoOption)" *ngFor="let musculoOption of musculos; trackBy: trackMusculoById">{{musculoOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
