<div>
    <h2>
        <span>Solicituds</span>
        <button class="btn btn-primary float-right jh-create-entity create-solicitud" [routerLink]="['/', { outlets: { popup: ['solicitud-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Solicitud
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="solicituds">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="descripcionSolicitud"><span>Descripcion Solicitud</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="fechaSolicitud"><span>Fecha Solicitud</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="horaInicio"><span>Hora Inicio</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="horaFin"><span>Hora Fin</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="usuarioId"><span>Usuario</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="entrenadorSolicitudId"><span>Entrenador Solicitud</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="tipoSolicitudId"><span>Tipo Solicitud</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let solicitud of solicituds ;trackBy: trackId">
                <td><a [routerLink]="['../solicitud', solicitud.id ]">{{solicitud.id}}</a></td>
                <td>{{solicitud.descripcionSolicitud}}</td>
                <td>{{solicitud.fechaSolicitud | date:'medium'}}</td>
                <td>{{solicitud.horaInicio | date:'medium'}}</td>
                <td>{{solicitud.horaFin | date:'medium'}}</td>
                <td>
                    <div *ngIf="solicitud.usuarioId">
                        <a [routerLink]="['../usuario', solicitud.usuarioId  ]" >{{solicitud.usuarioId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="solicitud.entrenadorSolicitudId">
                        <a [routerLink]="['../usuario', solicitud.entrenadorSolicitudId  ]" >{{solicitud.entrenadorSolicitudId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="solicitud.tipoSolicitudId">
                        <a [routerLink]="['../parametro-configuracion', solicitud.tipoSolicitudId  ]" >{{solicitud.tipoSolicitudId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../solicitud', solicitud.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'solicitud/'+ solicitud.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'solicitud/'+ solicitud.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="solicituds && solicituds.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
