
<div *ngIf="solicitud">
    <h2><span>Solicitud</span> {{solicitud.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Descripcion Solicitud</span></dt>
        <dd>
            <span>{{solicitud.descripcionSolicitud}}</span>
        </dd>
        <dt><span>Fecha Solicitud</span></dt>
        <dd>
            <span>{{solicitud.fechaSolicitud | date:'medium'}}</span>
        </dd>
        <dt><span>Hora Inicio</span></dt>
        <dd>
            <span>{{solicitud.horaInicio | date:'medium'}}</span>
        </dd>
        <dt><span>Hora Fin</span></dt>
        <dd>
            <span>{{solicitud.horaFin | date:'medium'}}</span>
        </dd>
        <dt><span>Usuario</span></dt>
        <dd>
            <div *ngIf="solicitud.usuarioId">
                <a [routerLink]="['/usuario', solicitud.usuarioId]">{{solicitud.usuarioId}}</a>
            </div>
        </dd>
        <dt><span>Entrenador Solicitud</span></dt>
        <dd>
            <div *ngIf="solicitud.entrenadorSolicitudId">
                <a [routerLink]="['/usuario', solicitud.entrenadorSolicitudId]">{{solicitud.entrenadorSolicitudId}}</a>
            </div>
        </dd>
        <dt><span>Tipo Solicitud</span></dt>
        <dd>
            <div *ngIf="solicitud.tipoSolicitudId">
                <a [routerLink]="['/parametro-configuracion', solicitud.tipoSolicitudId]">{{solicitud.tipoSolicitudId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'solicitud/'+ solicitud.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
