<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mySolicitudLabel">Create or edit a Solicitud</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!solicitud.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="solicitud.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_descripcionSolicitud">Descripcion Solicitud</label>
            <input type="text" class="form-control" name="descripcionSolicitud" id="field_descripcionSolicitud"
                [(ngModel)]="solicitud.descripcionSolicitud" maxlength="999"/>
            <div [hidden]="!(editForm.controls.descripcionSolicitud?.dirty && editForm.controls.descripcionSolicitud?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.descripcionSolicitud?.errors?.maxlength">
                   This field cannot be longer than 999 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_fechaSolicitud">Fecha Solicitud</label>
            <div class="d-flex">
                <input id="field_fechaSolicitud" type="datetime-local" class="form-control" name="fechaSolicitud" [(ngModel)]="solicitud.fechaSolicitud"
                required/>
            </div>
            <div [hidden]="!(editForm.controls.fechaSolicitud?.dirty && editForm.controls.fechaSolicitud?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.fechaSolicitud?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.fechaSolicitud?.errors?.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_horaInicio">Hora Inicio</label>
            <div class="d-flex">
                <input id="field_horaInicio" type="datetime-local" class="form-control" name="horaInicio" [(ngModel)]="solicitud.horaInicio"
                required/>
            </div>
            <div [hidden]="!(editForm.controls.horaInicio?.dirty && editForm.controls.horaInicio?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.horaInicio?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.horaInicio?.errors?.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_horaFin">Hora Fin</label>
            <div class="d-flex">
                <input id="field_horaFin" type="datetime-local" class="form-control" name="horaFin" [(ngModel)]="solicitud.horaFin"
                required/>
            </div>
            <div [hidden]="!(editForm.controls.horaFin?.dirty && editForm.controls.horaFin?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.horaFin?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.horaFin?.errors?.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_usuario">Usuario</label>
            <select class="form-control" id="field_usuario" name="usuario" [(ngModel)]="solicitud.usuarioId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="usuarioOption.id" *ngFor="let usuarioOption of usuarios; trackBy: trackUsuarioById">{{usuarioOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_entrenadorSolicitud">Entrenador Solicitud</label>
            <select class="form-control" id="field_entrenadorSolicitud" name="entrenadorSolicitud" [(ngModel)]="solicitud.entrenadorSolicitudId">
                <option [ngValue]="null"></option>
                <option [ngValue]="usuarioOption.id" *ngFor="let usuarioOption of entrenadorsolicituds; trackBy: trackUsuarioById">{{usuarioOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_tipoSolicitud">Tipo Solicitud</label>
            <select class="form-control" id="field_tipoSolicitud" name="tipoSolicitud" [(ngModel)]="solicitud.tipoSolicitudId">
                <option [ngValue]="null"></option>
                <option [ngValue]="parametroConfiguracionOption.id" *ngFor="let parametroConfiguracionOption of tiposolicituds; trackBy: trackParametroConfiguracionById">{{parametroConfiguracionOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
