<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myGimnasioLabel">Create or edit a Gimnasio</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!gimnasio.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="gimnasio.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_nombreGimnasio">Nombre Gimnasio</label>
            <input type="text" class="form-control" name="nombreGimnasio" id="field_nombreGimnasio"
                [(ngModel)]="gimnasio.nombreGimnasio" required maxlength="999"/>
            <div [hidden]="!(editForm.controls.nombreGimnasio?.dirty && editForm.controls.nombreGimnasio?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nombreGimnasio?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nombreGimnasio?.errors?.maxlength">
                   This field cannot be longer than 999 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_estadoGimnasio">Estado Gimnasio</label>
            <input type="checkbox" class="form-control" name="estadoGimnasio" id="field_estadoGimnasio"
                [(ngModel)]="gimnasio.estadoGimnasio" />
            <div [hidden]="!(editForm.controls.estadoGimnasio?.dirty && editForm.controls.estadoGimnasio?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.estadoGimnasio?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
