
<div *ngIf="gimnasio">
    <h2><span>Gimnasio</span> {{gimnasio.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Nombre Gimnasio</span></dt>
        <dd>
            <span>{{gimnasio.nombreGimnasio}}</span>
        </dd>
        <dt><span>Estado Gimnasio</span></dt>
        <dd>
            <span>{{gimnasio.estadoGimnasio}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'gimnasio/'+ gimnasio.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
