<div>
    <h2>
        <span>Invitacions</span>
        <button class="btn btn-primary float-right jh-create-entity create-invitacion" [routerLink]="['/', { outlets: { popup: ['invitacion-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Invitacion
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="invitacions">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="horarioInvitacion"><span>Horario Invitacion</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="estadoInvitacion"><span>Estado Invitacion</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="usuarioId"><span>Usuario</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="aceptaInvitacionId"><span>Acepta Invitacion</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let invitacion of invitacions ;trackBy: trackId">
                <td><a [routerLink]="['../invitacion', invitacion.id ]">{{invitacion.id}}</a></td>
                <td>{{invitacion.horarioInvitacion | date:'medium'}}</td>
                <td>{{invitacion.estadoInvitacion}}</td>
                <td>
                    <div *ngIf="invitacion.usuarioId">
                        <a [routerLink]="['../usuario', invitacion.usuarioId  ]" >{{invitacion.usuarioId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="invitacion.aceptaInvitacionId">
                        <a [routerLink]="['../usuario', invitacion.aceptaInvitacionId  ]" >{{invitacion.aceptaInvitacionId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../invitacion', invitacion.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'invitacion/'+ invitacion.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'invitacion/'+ invitacion.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="invitacions && invitacions.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
