<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myInvitacionLabel">Create or edit a Invitacion</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!invitacion.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="invitacion.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_horarioInvitacion">Horario Invitacion</label>
            <div class="d-flex">
                <input id="field_horarioInvitacion" type="datetime-local" class="form-control" name="horarioInvitacion" [(ngModel)]="invitacion.horarioInvitacion"
                required/>
            </div>
            <div [hidden]="!(editForm.controls.horarioInvitacion?.dirty && editForm.controls.horarioInvitacion?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.horarioInvitacion?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.horarioInvitacion?.errors?.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_estadoInvitacion">Estado Invitacion</label>
            <input type="checkbox" class="form-control" name="estadoInvitacion" id="field_estadoInvitacion"
                [(ngModel)]="invitacion.estadoInvitacion" />
            <div [hidden]="!(editForm.controls.estadoInvitacion?.dirty && editForm.controls.estadoInvitacion?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.estadoInvitacion?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_usuario">Usuario</label>
            <select class="form-control" id="field_usuario" name="usuario" [(ngModel)]="invitacion.usuarioId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="usuarioOption.id" *ngFor="let usuarioOption of usuarios; trackBy: trackUsuarioById">{{usuarioOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_aceptaInvitacion">Acepta Invitacion</label>
            <select class="form-control" id="field_aceptaInvitacion" name="aceptaInvitacion" [(ngModel)]="invitacion.aceptaInvitacionId">
                <option [ngValue]="null"></option>
                <option [ngValue]="usuarioOption.id" *ngFor="let usuarioOption of aceptainvitacions; trackBy: trackUsuarioById">{{usuarioOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
