
<div *ngIf="invitacion">
    <h2><span>Invitacion</span> {{invitacion.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Horario Invitacion</span></dt>
        <dd>
            <span>{{invitacion.horarioInvitacion | date:'medium'}}</span>
        </dd>
        <dt><span>Estado Invitacion</span></dt>
        <dd>
            <span>{{invitacion.estadoInvitacion}}</span>
        </dd>
        <dt><span>Usuario</span></dt>
        <dd>
            <div *ngIf="invitacion.usuarioId">
                <a [routerLink]="['/usuario', invitacion.usuarioId]">{{invitacion.usuarioId}}</a>
            </div>
        </dd>
        <dt><span>Acepta Invitacion</span></dt>
        <dd>
            <div *ngIf="invitacion.aceptaInvitacionId">
                <a [routerLink]="['/usuario', invitacion.aceptaInvitacionId]">{{invitacion.aceptaInvitacionId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'invitacion/'+ invitacion.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
